.profleHeading{
    font-size:20px;
    font-weight: 700;
    margin-bottom: 0px!important;
}
.profleSubHeading{
    font-size:12px;
}

.customCardHeader{
    color:#495057;
}
.profileInfo{
    padding:10px;
}
.profileInfoBottom{
    padding:10px;
}
.customCardFooter{
    display:block!important;
}
.profileInfoHeader{
    font-weight: 600;
    padding-top: 10px;
}
.customBtnContainer{
    display: block!important;
}

.customBtnForProfileUpdate{
    background: #000;
    color:white;
    outline:none;
    border:none;
}
.customBtnForPasswordUpdate{
    background: transparent;
    border: 0.5px solid;
    color: #000;
}
.customBtnForProfileUpdate:focus, .customBtnForProfileUpdate:hover{
    background: #000;
    color:white;
    outline:none;
    border:none;
}
.customBtnForPasswordUpdate:focus, .customBtnForPasswordUpdate:hover{
    background: transparent;
    border: 0.5px solid;
    color: #000;
}

.customInput{
    background: transparent;
    border:none;
    outline:none;
}

.customInput[readonly] {
    background: transparent;
    border:none;
    outline:none;
}
.customModalBody{
    padding:50px;
}
.customLabel{
    font-weight: 600;
}
.customModalHeader{
    background: none!important;
    border:none;
    display: block;
    text-align: center;
}

.customModalFooter{
    background: none!important;
    border:none;
    display: block;
}
.savePassBtn, .savePassBtn:focus{
    background: #14853F !important;
    border:none;
    outline: none;
    float:right;
}
.cancelPassBtn, .cancelPassBtn:focus, .cancelPassBtn:hover{
    background: none!important;
    border:none;
    outline: none;
    float:left;
    color:black;
}
.customConfirmPassInput{
    border:none;
    outline: none;
    border-radius: 10px;
    background: rgb(229, 229, 229);
}

.customConfirmPassInput::-webkit-input-placeholder {
    font-size: 12px;
}

.loginHeader{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    font-family: Copperplate;
}

.loginWelcome{
    text-align: center;
    font-size: 25px;
    font-family: Copperplate;
}

.loginBtn, .loginBtn:hover, .loginBtn:focus{
    width: 100%!important;
    background: #000;
    color: white;
    height: 50px;
    font-size: 20px;
}

.customInput{
    height: 50px;
    border: 1px solid #dddddd;
}

.customPaddingCardBody{
    padding: 35px;
}

.customSignupLink{
    height: 40px;
    border: 1px solid #dddddd;
    text-align: center;
    border-radius: 5px;
}

.customSignupLinkSecondary{
    height: 40px;
    border: 1px solid #dddddd;
    text-align: center;
    border-radius: 5px;
    margin-top: 80px;
}

.customLink{
    color: #C48C15;
    line-height: 2.5;
    font-weight: 500;
}

.forgotPassBtn{
    width: 100% !important;
    background: #c7c7c7;
    color: #000;
    border: none;
    outline: none;
    height: 40px;
    margin-top: 25px;
}

.customLinkSignUp{
    color: #C48C15;
}

.termsAndConditionText{
    float:left;
    margin-left: 20px;
    width: 80%;
}


.ToggleSwitch{
    background: linear-gradient(#ccc, #eee);
    border: 1px solid rgb(9, 9, 9);
    height: 1em;
    width: 2em;
    border-radius: 1em;
    float:left;
    margin-top: 12px;
  }
    
  .knob{
    position: relative;
    width: 1em;
    height: 0.85em;
    background: #666;
    border: 1px solid #ddd;
    border-radius: 50%;
    left: 0em;
    transition: left 0.3s ease-out;
   
  }
  .knobActive{
    position: relative;
    width: 1em;
    height: 0.85em;
    background: #666;
    border: 1px solid #ddd;
    border-radius: 50%;
    left: 0em;
    transition: left 0.3s ease-out;
    left: 0.8em;
}
.cardInputs{
    width:100%;
}

.customLoginFormContainer{
    margin: 0 auto;
    width: 30%;
}
